doctype html

html
  head
    title Hello World!!!!!!!!!!!!!
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello  This page was served by: #{hostname}
        h2 JavaScript Array Join 
  script.

    var str = "", sArr = [];
    for (var i = 300000; i > 0; i--) 
    {
      sArr[i] = "String concatenation. ";
    }
    str = sArr.join("");
 
  //-  var str = "";
  //-    for (var i = 300000; i > 0; i--) 
  //-    {
  //-      str += "String concatenation. ";
  //-    }


 
 
